<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="error.pirate.backend.purchaseOrder.query.mapper.PurchaseOrderMapper">

    <select id="readPurchaseOrderList" resultType="error.pirate.backend.purchaseOrder.query.dto.PurchaseOrderResponse">
        SELECT
            tpo.purchase_order_seq,
            tpo.purchase_order_name,
            tpo.purchase_order_status,
            tpo.purchase_order_due_date,
            tpo.purchase_order_target_due_date,
            tpo.purchase_order_extended_price,
            tpo.purchase_order_total_quantity,
            tpo.purchase_order_note,
            tu.user_name,
            tc.client_name
        FROM tb_purchase_order tpo
        JOIN tb_user tu USING (user_seq)
        JOIN tb_client tc USING (client_seq)
        WHERE tpo.purchase_order_status != 'DELETE'
            <if test="searchStartDate != null and searchStartDate != ''">
                <![CDATA[
                AND #{searchStartDate} <= tpo.purchase_order_target_due_date
                ]]>
            </if>
            <if test="searchEndDate != null and searchEndDate != ''">
                <![CDATA[
                AND #{searchEndDate} >= tpo.purchase_order_target_due_date
                ]]>
            </if>
            <if test="searchName != null">
                AND tc.client_name LIKE CONCAT('%', #{searchName}, '%')
            </if>
            <if test="searchStatus != null and searchStatus != ''">
                AND tpo.purchase_order_status IN
                <trim prefix="(" suffix=")" suffixOverrides=",">
                    <foreach collection="searchStatus.split(',')" item="status" separator=",">
                        #{status}
                    </foreach>
                </trim>
            </if>
        ORDER BY tpo.purchase_order_seq
        <if test="limit != null">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="readPurchaseOrderItemList" resultType="error.pirate.backend.purchaseOrder.query.dto.PurchaseOrderItemResponse">
        SELECT
            tpoi.item_seq,
            tpoi.purchase_order_item_quantity,
            tpoi.purchase_order_item_price,
            tpoi.purchase_order_item_note,
            ti.item_name,
            ti.item_image_url
        FROM tb_purchase_order_item tpoi
        JOIN tb_item ti USING (item_seq)
        WHERE tpoi.purchase_order_seq = #{purchaseOrderSeq}
        ORDER BY tpoi.purchase_order_item_seq
    </select>

    <select id="readPurchaseOrderListCount" resultType="int">
        SELECT
            COUNT(*)
        FROM tb_purchase_order tpo
        JOIN tb_user tu USING (user_seq)
        JOIN tb_client tc USING (client_seq)
        WHERE tpo.purchase_order_status != 'DELETE'
            <if test="searchStartDate != null and searchStartDate != ''">
                <![CDATA[
                AND #{searchStartDate} <= tpo.purchase_order_target_due_date
                ]]>
            </if>
            <if test="searchEndDate != null and searchEndDate != ''">
                <![CDATA[
                AND #{searchEndDate} >= tpo.purchase_order_target_due_date
                ]]>
            </if>
            <if test="searchName != null">
                AND tc.client_name LIKE CONCAT('%', #{searchName}, '%')
            </if>
            <if test="searchStatus != null and !searchStatus.isEmpty()">
                AND tpo.purchase_order_status IN
                <trim prefix="(" suffix=")" suffixOverrides=",">
                    <foreach collection="searchStatus.split(',')" item="status" separator=",">
                        #{status}
                    </foreach>
                </trim>
            </if>
    </select>

    <select id="readPurchaseOrderSituationList" resultType="error.pirate.backend.purchaseOrder.query.dto.PurchaseOrderSituationResponse">
        SELECT
            tpo.purchase_order_name,
            tpo.purchase_order_reg_date,
            tpo.purchase_order_total_quantity,
            tpo.purchase_order_extended_price,
            tpo.purchase_order_target_due_date,
            tpo.purchase_order_reg_date,
            tc.client_name,
            DATE_FORMAT(tpo.purchase_order_reg_date, '%Y-%m') as purchase_order_reg_month,
            IFNULL(SUM(tpo.purchase_order_extended_price), 0) as purchase_order_month_price,
            IFNULL(SUM(tpo.purchase_order_total_quantity), 0) as purchase_order_month_quantity
        FROM tb_purchase_order tpo
        JOIN tb_client tc USING (client_seq)
        WHERE tpo.purchase_order_status != 'DELETE'
        <if test="searchStartDate != null and searchStartDate != ''">
            <![CDATA[
                AND #{searchStartDate} <= tpo.purchase_order_reg_date
                ]]>
        </if>
        <if test="searchEndDate != null and searchEndDate != ''">
            <![CDATA[
                AND #{searchEndDate} >= tpo.purchase_order_reg_date
                ]]>
        </if>
        <if test="searchName != null">
            AND tc.client_name LIKE CONCAT('%', #{searchName}, '%')
        </if>
        GROUP BY
        DATE_FORMAT(tpo.purchase_order_reg_date, '%Y-%m'),
        tpo.purchase_order_reg_date WITH ROLLUP;
    </select>

    <select id="readPurchaseOrderStockSituationList" resultType="error.pirate.backend.purchaseOrder.query.dto.PurchaseOrderStockSituationResponse">
        SELECT
            tpo.purchase_order_name,
            tpo.purchase_order_reg_date,
            DATE_FORMAT(tpo.purchase_order_reg_date, '%Y-%m') as purchase_order_reg_month,
            IFNULL(SUM(tpoi.purchase_order_item_extended_price), 0) as purchase_order_month_price,
            IFNULL(SUM(tpoi.purchase_order_item_quantity), 0) as purchase_order_month_quantity,
            ti.item_name,
            tpoi.purchase_order_item_extended_price,
            tpoi.purchase_order_item_quantity
        FROM tb_purchase_order tpo
        LEFT JOIN tb_purchase_order_item tpoi USING (purchase_order_seq)
        LEFT JOIN tb_item ti ON tpoi.item_seq = ti.item_seq
        WHERE tpo.purchase_order_status != 'DELETE'
        AND NOT EXISTS (
            SELECT
                1
            FROM
            tb_purchase tp
            WHERE
            tp.purchase_order_seq = tpoi.purchase_order_seq
        )
        <if test="searchStartDate != null and searchStartDate != ''">
            <![CDATA[
                AND #{searchStartDate} <= tpo.purchase_order_reg_date
                ]]>
        </if>
        <if test="searchEndDate != null and searchEndDate != ''">
            <![CDATA[
                AND #{searchEndDate} >= tpo.purchase_order_reg_date
                ]]>
        </if>
        <if test="searchName != null">
            AND ti.item_name LIKE CONCAT('%', #{searchName}, '%')
        </if>
        GROUP BY
        DATE_FORMAT(tpo.purchase_order_reg_date, '%Y-%m'),
        tpo.purchase_order_reg_date,
        ti.item_name
        WITH ROLLUP;
    </select>

</mapper>