<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="error.pirate.backend.purchase.query.mapper.PurchaseMapper">

    <select id="readPurchaseList" resultType="error.pirate.backend.purchase.query.dto.PurchaseResponse">
        SELECT
            tp.purchase_seq,
            tp.purchase_name,
            tp.purchase_status,
            tp.purchase_contract_date,
            tp.purchase_extended_price,
            tp.purchase_note,
            tu.user_name,
            tc.client_name
        FROM tb_purchase tp
        JOIN tb_user tu USING (user_seq)
        JOIN tb_purchase_order tpo USING (purchase_order_seq)
        JOIN tb_client tc ON (tpo.client_seq = tc.client_seq)
        WHERE tp.purchase_status != 'DELETE'
            <if test="searchStartDate != null and searchStartDate != ''">
                <![CDATA[
                AND #{searchStartDate} <= tp.purchase_contract_date
                ]]>
            </if>
            <if test="searchEndDate != null and searchEndDate != ''">
                <![CDATA[
                AND #{searchEndDate} >= tp.purchase_contract_date
                ]]>
            </if>
            <if test="searchName != null">
                AND tc.client_name LIKE CONCAT('%', #{searchName}, '%')
            </if>
            <if test="searchStatus != null and searchStatus != ''">
                AND tp.purchase_status IN
                <trim prefix="(" suffix=")" suffixOverrides=",">
                    <foreach collection="searchStatus.split(',')" item="status" separator=",">
                        #{status}
                    </foreach>
                </trim>
            </if>
        ORDER BY tp.purchase_seq
        <if test="limit != null">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="readPurchaseItemList" resultType="error.pirate.backend.purchase.query.dto.PurchaseItemResponse">
        SELECT
            tpi.item_seq,
            tpi.purchase_item_quantity,
            tpi.purchase_item_price,
            tpi.purchase_item_receipt_date,
            tpi.purchase_item_status,
            tpi.purchase_item_note,
            ti.item_name,
            ti.item_image_url,
            tw.warehouse_name
        FROM tb_purchase_item tpi
        JOIN tb_item ti USING (item_seq)
        JOIN tb_warehouse tw ON (ti.warehouse_seq = tw.warehouse_seq)
        WHERE tpi.purchase_seq = #{purchaseSeq}
        ORDER BY tpi.purchase_item_seq
    </select>

    <select id="readPurchaseListCount" resultType="int">
        SELECT
            COUNT(*)
        FROM tb_purchase tp
        JOIN tb_user tu USING (user_seq)
        JOIN tb_purchase_order tpo USING (purchase_order_seq)
        JOIN tb_client tc ON (tpo.client_seq = tc.client_seq)
        WHERE tp.purchase_status != 'DELETE'
            <if test="searchStartDate != null and searchStartDate != ''">
                <![CDATA[
                AND #{searchStartDate} <= tp.purchase_contract_date
                ]]>
            </if>
            <if test="searchEndDate != null and searchEndDate != ''">
                <![CDATA[
                AND #{searchEndDate} >= tp.purchase_contract_date
                ]]>
            </if>
            <if test="searchName != null">
                AND tc.client_name LIKE CONCAT('%', #{searchName}, '%')
            </if>
            <if test="searchStatus != null and searchStatus != ''">
                AND tp.purchase_status IN
                <trim prefix="(" suffix=")" suffixOverrides=",">
                    <foreach collection="searchStatus.split(',')" item="status" separator=",">
                        #{status}
                    </foreach>
                </trim>
            </if>
    </select>

    <select id="readPurchaseOrderSituationList" resultType="error.pirate.backend.purchase.query.dto.PurchaseSituationResponse">
        SELECT
            tp.purchase_name,
            tp.purchase_contract_date,
            tp.purchase_reg_date,
            tp.purchase_total_quantity,
            tp.purchase_extended_price,
            tp.purchase_note,
            DATE_FORMAT(tp.purchase_reg_date, '%Y-%m') as purchase_reg_month,
            IFNULL(SUM(tp.purchase_extended_price), 0) as purchase_month_price,
            IFNULL(SUM(tp.purchase_total_quantity), 0) as purchase_month_quantity
        FROM tb_purchase tp
        WHERE tp.purchase_status != 'DELETE'
        <if test="searchStartDate != null and searchStartDate != ''">
            <![CDATA[
                AND #{searchStartDate} <= tp.purchase_reg_date
                ]]>
        </if>
        <if test="searchEndDate != null and searchEndDate != ''">
            <![CDATA[
                AND #{searchEndDate} >= tp.purchase_reg_date
                ]]>
        </if>
        <if test="searchName != null">
            AND tp.purchase_name LIKE CONCAT('%', #{searchName}, '%')
        </if>
        GROUP BY
        DATE_FORMAT(tp.purchase_reg_date, '%Y-%m'),
        tp.purchase_reg_date WITH ROLLUP;
    </select>

</mapper>